
header{
    width: 100%;
}
header div{
    background-color: darkgreen;
}
header, h1, p {
    color: yellow;
}
.jumbotron{
    background-color: darkgreen;
}    

#place{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}
